<div class="game-container v-align">
	<div class="game-bar">
		<div class="game-info">
			<span>Week 32</span>
		</div>
		<div class="game-score">
			<div class="flex">
				<div class="flex-1"><span>1</span></div>
				<div class="flex-1"><span>X</span></div>
				<div class="flex-1"><span>2</span></div>
			</div>
		</div>
	</div>
	<div class="game-item" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13]">
		<div class="game-info">
			<div>
				<span>Arsenal</span>
				<span>-</span>
				<span>Liverpool</span>
				<span>3 - 4</span>
			</div>
			<div class="game-date">
				<span>Today 16:00</span>
			</div>
		</div>
		<div class="game-score">
			<div class="v-align flex">
				<div class="flex-1"><input type="checkbox" name="vehicle" value="Bike"></div>
				<div class="flex-1"><input type="checkbox" name="vehicle" value="Bike"></div>
				<div class="flex-1"><input type="checkbox" name="vehicle" value="Bike"></div>
			</div>
		</div>
	</div>
</div>