<div class="game-container v-align fade-in">
	<div class="game-bar">
		<div class="game-info">
			<h2>Week {{week}}</h2>
		</div>
	</div>
  <div class="game-item" ng-repeat="game in games">
		<div class="game-info">
			<div class="float-left v-align">
				<span>{{game.homeTeam}}</span>
				<span>-</span>
				<span>{{game.awayTeam}}</span>
				<div class="game-date">
					<span>{{game.start}}</span>
				</div>
			</div>
			<div class="game-score v-align">
				<span>{{game.score}}</span>
			</div>	
		</div>
		<div class="game-bet">
			<div class="v-align flex">
				<div class="flex-1">
					<input id="{{$index}}-1" type="checkbox">
					<label class="checkbox checkbox-1" for="{{$index}}-1"></label>
				</div>
				<div class="flex-1">
					<input id="{{$index}}-X" type="checkbox">
					<label class="checkbox checkbox-X" for="{{$index}}-X"></label>
				</div>
				<div class="flex-1">
					<input id="{{$index}}-2" type="checkbox">
					<label class="checkbox checkbox-2" for="{{$index}}-2"></label>
				</div>
			</div>
		</div>
	</div>
</div>