<div class="content">
	<div class="logo-container-1">
		<h1 class="logo logo-1" data-text="FOOTBALL">FOOTBALL</h1>
	</div>
	<div class="logo-container-2">
		<h1 class="logo logo-2" data-text="1X2">1X2</h1>
	</div>
	<div class="item-container">
		<div ng-click="changeState('gameState', 'stryk')" class="item stryktipset ease-in">
			<img src="img/stryktips.jpg" class="avatar"/>
		</div>
		<div ng-click="changeState('gameState', 'europa')" class="item europatipset ease-in">
			<img src="img/europatips.jpg" class="avatar"/>
		</div>
	</div>
</div>
