html {
    background: url(../img/grass.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body {
    margin: 0px;

}

html, body, .ng-scope {
  height: 100%;

}

@font-face {
    font-family: Poplar;
    src: url("../fonts/PoplarStd.otf");
}

@font-face {
    font-family: Avatar;
    src: url("../fonts/BoostLightSSK-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}


h2 {
    font-family: Avatar;
    font-size: 30px;
    margin: 0;
    color: white;
}

h3 {
    font-family: Avatar;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;

}

h4 {
    font-family: OpenSans;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 12px;
}

.avatar {
    height: 100px;
}

.button {
    border-radius: 20px;

}

.europatipset {
    background: #008440;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.game-bar {
    height: 40px;
    display: flex;
}

.game-bar > .game-bet {
    background-color: rgba(134, 134, 134, 0.9);
}
.game-bar > .game-info span {
    font-size: 20px;
    color: white;
}

.game-bet {
    flex: 1;
    padding-right: 5px;
    text-align: right;
    height: inherit;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.game-container {
    min-width: 90%;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.game-date span {
    font-size: 11px;
    font-weight: 500;
}

.game-info {
    flex: 2;
    float: left;
    height: inherit;
}

.game-item {
    height: 50px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px rgba(197, 197, 197, 0.8);
}

.game-nr {
    background-color: rgba(255,255,255,.4);
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 10px;
    line-height: 13px;
}

.game-nr span {
    font-weight: 800;
    font-size: 11px;
}

.game-score {
    float: right;
    padding-right: 20px;
}

.item-container {
    float: left;
    width: 100%;
    text-align: center;
}

.item {
    display: inline-block;
    /* padding: 20px; */
    width: 265px;
    box-shadow: 3px 3px 5px;
    margin: 10px auto;
}

.logo-container-1 {
    margin: 0 auto;
    width: 212px;
    padding-top: 70px;
}
.logo-container-2 {
    margin: 0 auto;
    margin-top: -20px;
    width: 70px;
}

.logo {
    margin: 0;
    font-family: Poplar;
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
}

.logo:after {
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.63);
    top: 0;
    z-index: -1;
}


.logo-1 {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feffa2), color-stop(100%, #fff720)); background-image: -webkit-linear-gradient(#feffa2,#fff720);
}

.logo-2 {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(#e4e4e4,#ffffff);
}

.score {
    background: black;
    padding: 1px 4px;
    color: white;
}

.stryktipset {
    background: #00416e;
}

.topptipset {
    background:  rgb(242, 148, 0);
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



/*----------CHECKBOX--------------*/

input[type=checkbox] {
    display:none; 
}
.checkbox:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align:middle;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 23px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); 
    border-radius: 3px;
}

input[type=checkbox] + .checkbox-1:before {
    content: "";
}

input[type=checkbox] + .checkbox-X:before {
    content: "";
}

input[type=checkbox] + .checkbox-2:before {
    content: "";
}



input[type=checkbox]:checked + .checkbox-1:before {
    content: "1";
}

input[type=checkbox]:checked + .checkbox-X:before {
    content: "X";
}

input[type=checkbox]:checked + .checkbox-2:before {
    content: "2";
}

.win.checkbox-1:before {
    background-color: #8aea78  !important;
}

.win.checkbox-X:before {
    background-color: #8aea78  !important;
}

.win.checkbox-2:before {
    background-color: #8aea78  !important;
}

.fail.checkbox-1:before {
    background-color: #ea7878  !important;
}

.fail.checkbox-X:before {
    background-color: #ea7878   !important;
}

.fail.checkbox-2:before {
    background-color: #ea7878   !important;
}


/*////////////----------CHECKBOX-------------------*/



/*----------ANIMATIONS--------------*/

.fade-in {
  animation: fadeIn 0.7s forwards;
}

.ease-in {
    animation: easein 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left:600px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}


@keyframes easein {
  0% {
        opacity: 0;
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition: 0.2s;
        transition: 0.2s;
  }
  100% {
      -webkit-transition: 0.25s;
      transition: 0.25s;
      -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
  }
}

/*//////////////----------ANIMATIONS--------------*/


/*--------------DETAILVIEW-BUTTON----------------*/

.navicon-button {
  display: inline-block;
  transition: .3s;
  float: left;
}
.navicon-button:hover {
  opacity: 1;
}
.navicon-button:hover .navicon:before {
  top: -6px;
}
.navicon-button:hover .navicon:after {
  top: 6px;
}

.navicon {
  display: inline-block;
  width: 20px;
  height: 3px;
  color: white;
  background-color: black;
  background-size: 1.5rem 1.5rem;
  border-radius: 0.75rem;
  transition: .3s;
  box-shadow: inset 0 0 0 .125rem;
  position: relative;
}
.navicon:before, .navicon:after {
  display: inline-block;
  width: 20px;
  height: 3px;
  border-radius: 0.75rem;
  color: white;
  transition: .3s;
  box-shadow: inset 0 0 0 .125rem;
  position: absolute;
  content: '';
  transform-origin: 0.75rem center;
}
.navicon:before {
  top: -6px;
}
.navicon:after {
  top: 6px;
}

.open.navicon-button {
  transform: scale3d(0.8, 0.8, 0.8);
}
.open.navicon-button .navicon:before, .open.navicon-button .navicon:after {
  top: 0;
}

/*/////////////--------------DETAILVIEW-BUTTON -----------------------*/

.button {
    margin: 25px 0px 25px 15px;
    width: 50px;
    display: inline-block;
    position: relative;
    color: #060606;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);

}

/* Back Button */
.button.back {
    border-left: none;
}

.button.back:after {
    content: '';
    position: absolute;
    height: 50%;
    width: 15px;
    border-left: 1px solid #bcbcbc;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    left: -5px;
    top: 1px;
    -webkit-transform: skew(-35deg, 0);
    -moz-transform: skew(-35deg, 0);
    -o-transform: skew(-35deg, 0);
    -ms-transform: skew(-35deg, 0);
    transform: skew(-35deg, 0);
}

.button.back:before {
    content: '';
    position: absolute;
    height: 48%;
    width: 15px;
    border-left: 1px solid #bcbcbc;
    bottom: 1px;
    left: -5px;
    transform: skew(35deg, 0);
    background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
}

