html {
    background: url(../img/grass.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body {
    margin: 0px;

}

html, body, .ng-scope {
  height: 100%;

}
@font-face {
    font-family: Logo;
    src: url("../fonts/BuckerooITC-TT.TTF");
}
@font-face {
    font-family: Avatar;
    src: url("../fonts/BoostLightSSK-Regular.ttf");
}

h3 {
    font-family: Avatar;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;

}

span {
    font-family: Avatar;
    font-size: 11px;
}

.avatar {
    box-shadow: 0px 0px 5px 3px #fff;
    border-radius: 300px;
    height: 110px;
    width: 110px;

}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.game-bar {
    height: 25px;
    display: flex;
}

.game-container {
    min-width: 90%;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.game-info {
    flex: 2;
    padding-left: 5px;
    float: left;
    height: inherit;
}

.game-item {
    height: 40px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px rgba(197, 197, 197, 0.8);
}

.game-score {
    flex: 1;
    padding-right: 5px;
    text-align: right;
    height: inherit;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);

}

.game-date span {
    font-size: 9px;
}

.game-bar > .game-score {
    background-color: rgba(134, 134, 134, 0.9);
}
.game-bar > .game-info span {
    font-size: 20px;
    color: white;
}

.item-container {
    float: left;
    width: 100%;
}

.item {
    display: inline-block;
    padding: 20px;
    width: 50%;
    margin: 0 auto; 
}

.logo-container {
    text-align: center;;
}

.logo {
    margin: 0;
    font-family: Logo;
    color:white;
    font-size: 250px;
    text-shadow: -5px -1px 0 #000, 
                 5px -1px 0 #000, 
                 0px -5px 0 #000, 
                 0px 5px 0 #000;
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


input[type=checkbox] {
    display:none; 
}
.checkbox:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align:middle;
    background-color: #fff;
    color: #000;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); 
    border-radius: 3px;
}
input[type=checkbox]:checked + .checkbox:before {
    content: "";
    font-size: 11px;
    line-height: 20px;
}

input[type=checkbox]:checked + .checkbox-1:before {
    content: "1";
}

input[type=checkbox]:checked + .checkbox-X:before {
    content: "X";
}

input[type=checkbox]:checked + .checkbox-2:before {
    content: "2";
}